@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-img{
    background: url(bgimg.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 370px;
    padding: 60px 32px;
    text-align: center;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: rgba(0,0,0,5);  
}
.content header{
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: 'Montserrat', sans-serif;
}
.field{
    position: relative;
    display: flex;
    height: 45px;
    background-color: white;
}
.field span{
    color: #222;
    width: 40px;
    line-height: 45px;
}
.field input{
    height: 100%;
    width: 100%;
    color: #222;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    text-indent: 10px;
}
.space{
    margin-top: 16px;
}
.pass{
    text-align: left;
    margin: 10px 0px;
}
.pass a{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.pass:hover a{
    text-decoration: underline;
}
.field input[type="submit"]{
    background: #3498db;
    border: 1px solid #2691d9;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
  }
  .field input[type="submit"]:hover{
    background: #69bef7;
  }
  .register{
    font-size: 15px;
    color: white;
    text-align: left;
    font-family: 'Montserrat',sans-serif;
  }
  .register a{
    color: #3498db;
    text-decoration: none;
  }
  .register a:hover{
    text-decoration: underline;
  }